/.settings/
/.project
.classpath

/tmall-manager-dao/.settings
/tmall-manager-dao/target
/tmall-manager-dao/*.classpath
/tmall-manager-dao/*.project

/tmall-manager-interface/.settings
/tmall-manager-interface/target
/tmall-manager-interface/*.classpath
/tmall-manager-interface/*.project

/tmall-manager-service/.settings
/tmall-manager-service/target
/tmall-manager-service/*.classpath
/tmall-manager-service/*.project

/tmall-manager-pojo/.settings
/tmall-manager-pojo/target
/tmall-manager-pojo/*.classpath
/tmall-manager-pojo/*.project

/tmall-manager-web/.settings
/tmall-manager-web/target
/tmall-manager-web/*.classpath
/tmall-manager-web/*.project